<h1>Editing Blog</h1>
<div class="row">
  <div class="col-md-8">

    <%= render 'form', blog: @blog %>

    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', blogs_path %> |
    <%= link_to 'Delete this post', blog_path, method: :delete if logged_in?(:site_admin) %>
  </div>
</div>
