<footer class="blog-footer text-muted">
  <div class="container">
    <%= copyright_generator %>
    <p class="float-right">
      <%= link_to 'View all portfolio items', portfolios_path %> /
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>