<main role="main" class="inner cover">
  <h1 class="cover-heading">Kevin Hui</h1>
  <p>Graduated as a Public Relations major, minored in Journalism, worked as a graphics designer and video editor, became a Tech Project Manager and now I'm a developer!</p>
  <p>I think of myself as a problem solver.</p>
</main>
