<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
      <h3>Office Address</h3>
      <p>Level 19, Uptown 1, Jalan SS 21/58, Damansara Utama, 47400 Petaling Jaya, Selangor</p>
      <hr>
      <h3>Phone Number</h3>
      <p><%= number_to_phone "0176306779" %></p>
      <hr>
      <h3>Email</h3>
      <p><a href="mailto:kevinhuitaylors@gmail.com?subject=PortfolioContact">kevinhuitaylors@gmail.com</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3983.842813252327!2d101.6217394372955!3d3.136192206536953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x147a5d63a45b051e!2sREV+Asia+Berhad!5e0!3m2!1sen!2smy!4v1557761650725!5m2!1sen!2smy" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>